
/* ----------------------------------------
# Animations
-----------------------------------------*/
@-webkit-keyframes bottom {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes bottom {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes left {
  0% {
    transform: translateX(-8rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes left {
  0% {
    transform: translateX(-8rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/* ----------------------------------------
# Base
-----------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "yekan","Alata", sans-serif;
  font-size: 1.5rem;
  line-height: 1.9;
  color: #8c8c8c; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 15rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-template-rows: 10rem 70vh repeat(4, -webkit-min-content);
  grid-template-rows: 10rem 70vh repeat(4, min-content); }
  @media only screen and (max-width: 39.375em) {
    .container {
      grid-template-rows: 8.5rem calc(100vh - 8.5rem) repeat(4, -webkit-min-content);
      grid-template-rows: 8.5rem calc(100vh - 8.5rem) repeat(4, min-content); } }

/* ----------------------------------------
# Typography
-----------------------------------------*/
.heading {
  font-family:  "yekan","Josefin Sans", sans-serif;
  text-transform: uppercase;
  direction: rtl;
  text-align: center;
  font-weight: 200;
  line-height: 1; }
  .heading--primary {
    font-size: clamp(5rem, 5vw, 7rem);
    color: #ffff;
    margin: 0; }
    @media only screen and (max-width: 41.6875em) {
      .heading--primary {
        font-size: clamp(4rem, 5vw, 7rem); 
        } 
    }
    @media only screen and (max-width: 24.5em) {
      .heading--primary {
        font-size: 9.6vw;
        } 
    }
  .heading--secondary {
    font-size: clamp(3rem, 5vw, 5rem);
    color: #000; }
  .heading--thirty {
    font-size: clamp(2.5rem, 5vw, 3rem); }


/* ----------------------------------------
# bottoms
-----------------------------------------*/
.hero__bg {
  grid-row: 1 / 3;
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  position: relative;
  overflow: hidden; }

.hero__contain {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: flex;
  align-items: center; }

.hero__content {
  border: 3px solid #ffff;
  width: 41vw;
  height: auto;
  padding: 3rem 3.7rem;
  -webkit-animation: bottom 1.2s ease-in;
          animation: bottom 1.2s ease-in; }
  @media only screen and (max-width: 63.75em) {
    .hero__content {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; } }
  @media only screen and (max-width: 39.375em) {
    .hero__content {
      width: 100%; } }
  @media only screen and (max-width: 26.875em) {
    .hero__content {
      padding: 2.8rem 2rem; } }
  @media only screen and (max-width: 24.5em) {
    .hero__content {
      padding: 1.8rem 2rem; } }

.hero-active {
  background-image: linear-gradient(#000, #000); }

.hero-content {
  overflow: hidden;
  opacity: 0; }

/* ----------------------------------------
# logo
-----------------------------------------*/
@media only screen and (max-width: 39.375em) {
  .logo--primary {
    width: 16rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; } }

.logo--primary {
  -webkit-animation: left 1.2s ease-in-out;
          animation: left 1.2s ease-in-out; }

.logo--secondary {
  width: 14rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }


/* ----------------------------------------
# Header
-----------------------------------------*/
.header {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
   }

/* ----------------------------------------
# Navigation
-----------------------------------------*/
.nav__checkbox {
  display: none; }

.nav__btn {
  display: none; }

.nav__list {
  display: flex;
  list-style: none;
  color: #ffff; }

.nav__item {
  position: relative;
  padding: 7px 1rem;
  cursor: pointer; }
  .nav__item:not(:last-child) {
    margin-right: 1.1rem; }
    @media only screen and (max-width: 35em) {
      .nav__item:not(:last-child) {
        margin: 0; } }
  .nav__item::after {
    content: "";
    display: block;
    height: 2px;
    width: 35%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all .3s;
    background-color: currentColor;
    opacity: 0; }
  .nav__item:hover::after {
    opacity: 1; }

.nav__link {
  text-decoration: none;
  color: currentColor; }

@media only screen and (max-width: 56.25em) {
  .nav__btn {
    position: relative;
    display: block;
    height: 3rem;
    width: 3rem;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 5px;
    z-index: 20000; }
  .nav__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .nav__icon, .nav__icon::after, .nav__icon::before {
      width: 2.5rem;
      height: 2px;
      background-color: #ffff;
      display: inline-block; }
    .nav__icon::after, .nav__icon::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav__icon::before {
      top: -.8rem; }
    .nav__icon::after {
      top: .8rem; }
  .nav__nav {
    position: absolute;
    top: 0;
    left: 5rem;
    transform: translateY(15rem);
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transition: all .2s; } }
  @media only screen and (max-width: 56.25em) and (max-width: 39.375em) {
    .nav__nav {
      transform: translateY(20rem); } }

@media only screen and (max-width: 56.25em) {
  .nav__list--hamburger {
    flex-direction: column;
    text-transform: uppercase;
    font-family: "yekan","Josefin Sans", sans-serif;
    font-size: clamp(1.5rem, 5vw, 3rem); } }

@media only screen and (max-width: 56.25em) and (max-width: 35em) {
  .nav__list--footer {
    flex-direction: column;
    align-items: center;
    align-content: center; } }

@media only screen and (max-width: 56.25em) {
  .nav__item--hamburger {
    position: relative;
    padding: 7px;
    cursor: pointer;
    margin: 0; }
    .nav__item--hamburger::after {
      content: "";
      display: block;
      height: 2px;
      width: 35%;
      position: absolute;
      left: 23%;
      bottom: 0;
      transition: all .3s;
      background-color: currentColor;
      opacity: 0; }
    .nav__item--hamburger:hover::after {
      opacity: 1; }
  .nav__checkbox:checked + .nav__btn .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__checkbox:checked + .nav__btn .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__btn .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked ~ .nav__nav {
    opacity: 1;
    visibility: visible; } }

